
div{
	border: #FF8000 1px solid ;
	background-color: #FFFFFF;
	width: 150px;
	height: 190px;
	/*margin-top: 10px;*/
}
p{
	font-size: 10px;
	padding-bottom: 10px;
}

h4{
	font-size: 12px;
	padding-left: 10px;
}
.divUno{
	width: 150px;
	height: 160px;
}
